#container {
	width: 990px;
	margin: 0 auto;
}

.award_pool {
	border: 3px solid #ddd;
	padding: 10px;
	height: 280px;
}

.user_list {
	text-align: center;
	margin-top: 10px;
}

.user_list h3 {
	font-size: 18px;
	color: #262635;
	font-weight: bold;
	margin-bottom: 10px;
}

.user_list ul{
	border: 3px solid #ddd;
	border-radius: 10px;
	padding: 10px;
}

.user_list li {
	width: 130px;
	height: 130px;
	float: left;
	margin: 15px;
	cursor: pointer;
}

.user_list li .avatar {
	width: 130px;
	height: 130px;
	background-color: #dcdde0;
	padding: 3px;
	border-radius: 65px;
}

.user_list li .avatar img{
	border-radius: 65px;
}